<%= form_for @group do |f| %>
<% if @group.errors.any? %>
<ul>
  <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>>
  <% end %>
</ul>
<% end %>
Title
<%= f.text_field :title %>
<br>
Description
<%= f.text_area :description %>
<br>

<%= f.submit "送出", :disable_with => '正在送出...' %>
<% end %>
